.flashcard-review{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flashcard-review-item {
    border: 3px solid #055C9D;
    border-radius: 20px;
    margin-bottom: 1rem;
    background-color: #EBF5F7;
    width: 60%;
}

.flashcard-review-button{
    margin-bottom: 1rem;
    background-color: #0E86D4;
}

.flashcard-review-button-next{
    margin-bottom: 1rem;
    background-color: #0E86D4;
    margin-left: 1rem
}
